.formContainer{
    position: relative;
    display: flex;
    width: 25%;
    height: 85%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: white;

}

.registerForm{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 90%;
    top: 5% ;
    gap: 5%
}

.registerPageInputField{
    position: relative;
    text-align: center;
    width: 70%;
    height: 30%;
    border: 0.5px solid black;
    border-radius: 2px;
}

.registerPageLoginButton{
    width: 70%;
    height: 40%;
    background-color: rgb(238, 240, 252);
    border: 0.5px solid black;
    border-radius: 3px;
}

.registerPageLoginButton:hover{
    color: rgb(209, 0 ,42);
    cursor: pointer;
}

.registerPageRegisterButton{
    width: 70%;
    height: 40%;
    background-color: rgb(209, 0 ,42);
    color: black;
    border: 0.5px solid black;
    border-radius: 3px;
}

.registerPageRegisterButton:hover{
    color: white;
    cursor: pointer;
    background-color: rgba(33, 47, 171, 0.918);
}

.passwordErrorMessage{
    font-size: small;
    margin: 0;
}