@font-face {
    font-family: 'Fort Quinsy';
    src: url('../../assets/fonts/FORTQUINSY.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.navbar-left, .navbar-right{
    display: flex;
}


.navbar{
    display: flex;
    justify-content: space-between;
    border-bottom: black solid 1px;
}


a{
    font-family: "GT Walsheim", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: black;
    text-decoration: none;
    font-weight: 500;
}

a:hover{
    color: rgb(209, 0 ,42);
}

.navbar-center{
    display: flex;
    align-items: center;
    font-size: 30px;
}

.homeButton{
    padding-right: 2rem ;
    padding-left: 2rem ;
}

.website-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 3rem;
    font-family: "Fort Quinsy", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar-left-links, .navbar-right-links{
    display: flex;
    list-style: none;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.navbar-left-links{
    font-size: 20px;
}

.navbar-right-links{
    padding-right: 3rem;
}

.login-button, .register-button{
    display: flex;
    width: 88px;
    height: 35px;
    align-items: center;
    justify-content: center;
    border-radius: 4.4px;
}

.login-button{
    background-color: rgb(238, 240, 252);
}

.register-button{
    background-color: rgb(209, 0 ,42);
    color: white;
}

.register-button:hover{
    background-color: rgba(33, 47, 171, 0.918);
    color: white;
}








