@font-face {
    font-family: 'Fort Quinsy';
    src: url('../../assets/fonts/FORTQUINSY.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.homePageSection{
    width: 100%;
    height: 100%;
    background-image: url('https://images.pexels.com/photos/47354/the-ball-stadion-football-the-pitch-47354.jpeg?cs=srgb&dl=pexels-pixabay-47354.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}

.homeContainer{
    position:relative;
    width: 100%;
    height: 100vh
}

.homePageText-h1{
    position: absolute;
    top: 18%;
    left: 5rem;
    color: white;
    font-family: "Fort Quinsy", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: "rlig", "calt";
    font-size: 6rem;

}

.homePageText-h2{
    position: absolute;
    top: 35%;
    left: 7rem;
    font-family: "Fort Quinsy", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-feature-settings: "rlig", "calt";
    color: white;
    font-size: 4rem;
}

.inputBox{
    position: relative;
    background-color: rgb(238, 240, 252);
    width: 50rem;
    height: 10rem;
    top: 55%;
    left: 8rem;
    border-radius: 4.4px;
}

.inputLabel{
    position: absolute;
    top: 0.5rem;
    left: 1.5rem;
    font-family: "GT Walsheim", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: black;
    font-size: 2rem;
}

.inputForm{
    display: flex;
    gap: 0.5rem;
    position: absolute;
    justify-content: space-evenly;
    top: 5rem;
    width: 100%;
}

.inputWrapper{
    display: flex;
    position: relative;
    gap: 2rem;
    background-color: white;
    width: 38rem;
    border-radius: 4.4px;
    border-width: 0.5px;
    height: 2.3rem;
    border-color: rgb(228, 228, 231);
    font-family: "GT Walsheim", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.inputField{
    position: absolute;
    left: 3rem;
    top: 0.6rem;
    border-width: 0;
    color: black;
    width: 90%;
    border-color: transparent;
}

.inputField:focus{
    outline: none;
}

.inputLogo{
    position: absolute;
    top: 0.6rem;
    left: 1rem;

}

.inputButton{
    background-color: rgb(209, 0 ,42);
    color: white;
    border-radius: 4.4px;
    border-width: 0.5px;
    border-color: rgb(228, 228, 231);
    height:  2.3rem;
    font-weight: 700;
}

.inputButton:hover{
    background-color: rgba(33, 47, 171, 0.918);
;
}
