.matchEntryBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    justify-items: center;
    gap: 10%;
    width: 100%;
    height: 10%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.matchDate {
    padding-left: 2%;
}

.matchDetailsButton {
    color: white;
    background-color: rgb(209, 0, 42);
    border-color: rgb(209, 0, 42);
    border-width: 1px;
    border-style: solid;
    width: 4rem;
    height: 1.6rem;
    cursor: pointer;
    border-radius: 50px;

}

.matchDetailsButton:hover {
    background-color: rgba(33, 47, 171, 0.918);
    border-width: 0;
}

.column{
    flex: 1 1 0;
}