

.playFootballPage{
    width: 100%;
    height: 100vh;
    max-height: calc(100vh - 67.8px);
    background: rgba(242,244,248,255)
}

.joinFootballBox{
    position: relative;
    background-color: rgb(252, 248, 227);
    border-color: rgb(250, 235, 204);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    width: 67.7%;
    height: 4.5rem;
    top: 3%;
    right: -27%;
}

.joinFootballBoxText{
    position: absolute;
    color: rgb(138, 109, 59);
    font-size: 0.8rem;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    left: 1.5rem;
}

.joinFootballBoxButton{
    color: white;
    position: absolute;
    top: 2.4rem;
    left: 1.5rem;
    background-color: rgb(209, 0 ,42);
    border-color: rgb(209, 0 ,42);
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 4rem;
    height: 1.6rem;
    cursor: pointer;
}

.joinFootballBoxButton:hover{
    background-color: rgba(33, 47, 171, 0.918);
    border-width: 0;
}

.matchEntryContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border-radius: 2px;
    width: 67.7% ;
    top: 5%;
    right: -27%;
    height:73%;
}

.matchEntryTextBox{
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(249, 250, 252);
    border-width: 0.8px;
    border-style: solid;
    border-color: rgb(234, 238, 241);
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.matchEntryText{
    font-weight: 700;
    position: relative;
    left: 1.5rem;
    font-size: 1rem;
}

.matchEntriesBox{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 100%;
    top: 10%;
    gap: 3rem
}

h3{
    font-weight: 300;
}

.locationLabel, .priceLabel, .playerCountLabel{
    font-size: 1rem;
    position: absolute;
    font-weight: 700;
    top: -0.2rem
}

.locationLabel{
    right: 39.5rem;
}

.playerCountLabel{
    right: 1rem;
}

.priceLabel {
    right: 17.5rem;
}

.pageButtonContainer{
    display: flex;
    width: 100%;
    height: 15%;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 10%;
}
.pageButton{
    background-color: rgb(209, 0 ,42);
    color: white;
    border-radius: 2px;
    border-color: transparent;
}

.pageButton:hover{
    background-color: rgba(33, 47, 171, 0.918);
    color: white;
}

.pageNumber{
    position: relative;
    bottom: -20%;
}

.matchEntryQueryBox{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 2px;
    height: 78%;
    width: 23%;
    top: 12.5%;
    left: 3%
}

.matchEntryQueryBoxTextContainer{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 7%;
    background-color: rgb(249, 250, 252);
    border-width: 0.8px;
    border-style: solid;
    border-color: rgb(234, 238, 241);
}

.matchEntryQueryBoxText{
    position: relative;
    left: 5%;
    font-size: large;
}
.matchEntryQueryBoxInputForm{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
}

.matchEntryQueryBoxInputWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    width: 100%;
    padding-left: 15%;
}

.applyFilterButton{
    width: 50%;
    height: 100%;

}

.queryInputField{
    width: 80%;
}